body{
    background: rgb(44,136,190);
    background: linear-gradient(204deg, rgba(44,136,190,1) 1%, rgba(0,0,0,1) 81%);
    background-repeat: no-repeat;
    color: #fff;
    font-size: 16px;
    font-family: "montserrat";
    font-weight: 200;
    font-style: normal;
    overflow-x: hidden;
    max-width: 100vw;
    height: 100vh;
    }
.container{
	width: 100%;
	text-aling: center;
    aling-items: center;
	display: inline-flex;
	justify-content: space-between;
}
.topo{
    width: 100%;
    margin-top: 40px;
    
}
.img{
    width: 100%;
}
img{
    width: 38%;
}
.botoes{
    width: 90%;
    margin: 0.2em auto;
}
.titulo{
    color: #fff;
    padding: 0px 0px 20px 0;
}
.titulo h1{
    font-family: "montserrat";
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}
.titulo p{
    margin-top: -15px;
}
.main-top{
    margin: 25px auto;
    padding: 4%;
    border: 2px solid #fff;
    border-radius: 15px;
    background: transparent;
    text-align: center;
    display: block;
    transition: all 0.1s;
    text-align: center;
}
.main-top a{
    text-decoration: none;
    color: #fff;
    padding: 4% 10%;
}
.main-top:hover{
    background: rgb(44,136,190);
    background: linear-gradient(10deg, rgba(44,136,190,1) 0%, rgba(255,255,255,0.028448879551820738) 83%);
    transform: scale(102.50%);
}
footer{
    margin-top: 38px;
    font-size: 12px;
    font-family: "montserrat";
    font-weight: 100;
    font-style: normal;
    color: rgb(190, 189, 189);
    text-align: center;
}

@media screen and (min-width: 400px){
    body{
	background-repeat: no-repeat;
        background: rgb(44,136,190);
        background: linear-gradient(204deg, rgba(44,136,190,1) 1%, rgba(0,0,0,1) 81%);
    }
    .container{
        width: 100%;
        max-width: 400px;
        margin: 0px auto;
        padding: 0px 25px;
      
    }
    .topo{
        width: 100%;
        margin-top: 40px;
    }
    .img{
        width: 100%;
    }
    img{
        width: 38%;
    }
    .botoes{
        margin: 0.2em auto;
    }
    .titulo{
        color: #fff;
        padding: 0px 0px 20px 0;
    }
    .titulo h1{
        font-family: "montserrat";
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
    }
    .titulo p{
        margin-top: -15px;
    }
    .main-top{
        margin: 15px auto;
        padding: 4%;
        border: 2px solid #fff;
        border-radius: 15px;
        background: transparent;
        text-align: center;
        display: block;
        transition: all 0.1s;
        text-align: center;
    }
    .main-top a{
        text-decoration: none;
        color: #fff;
        padding: 4% 15%;
    }
    .main-top:hover{
        background: rgb(44,136,190);
        background: linear-gradient(10deg, rgba(44,136,190,1) 0%, rgba(255,255,255,0.028448879551820738) 83%);
        transform: scale(102.50%);
    }
    footer{
        margin-top: 38px;
        font-size: 12px;
        font-family: "montserrat";
        font-weight: 100;
        font-style: normal;
        color: rgb(190, 189, 189);
        text-align: center;
    }
}
